body {
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('template Large.png'); /* Use your own image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black; /* Default text color */
}

.invitation {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
    position: absolute;
    top: 10%;
    width: 80%;
}

h1 {
    color: black;
    font-family: 'Brush Script MT', cursive;
    font-size: 7vw; /* Larger font size */
    margin-bottom: 20px; /* Increased spacing */
}

h2 {
    color: black;
    font-family: 'Brush Script MT', cursive;
    font-size: 7vw; /* Larger font size */
    margin-bottom: 15px; /* Increased spacing */
}

p {
    color: black;
    font-famnily: 'Brush Script MT', cursive;
    font-size: 5vw; /* Responsive font size */
    line-height: 1.8;
    posistion: absolute;
    bottom: 10%
    width: 80%/* Increased line height */
}

.emphasis {
    font-weight: bold;
}

.no-pink {
    color: black; /* Black color for no pink */
}
